.cart__buttons {
  display: flex;
  width: 50%;
  margin: auto 0;
  justify-content: space-evenly;
}
.cart__buttonClean {
  font-size: var(--fs-button);
  font-weight: var(--fw-button);
  width: fit-content;
  background: transparent;
  border: 0.1rem solid var(--color-yellow);
  border-radius: 1.5rem;
  text-decoration: none;
  padding: 1%;
  margin-top: 5%;
}
.cart__buttonCheckout {
  font-size: var(--fs-button);
  font-weight: var(--fw-button);
  width: fit-content;
  background: transparent;
  border: 0.1rem solid var(--color-yellow);
  border-radius: 1.5rem;
  text-decoration: none;
  padding: 1%;
  margin-top: 5%;
}
