.itemDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.itemDetail__img {
  width: 40%;
}
.itemDetail__body {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.itemDetail__title {
  font-size: var(--fs-title);
  margin: 10% 0;
}
.itemDetail__description {
  font-size: var(--fs-body);
  width: 50%;
  margin: 2.5% 0;
}
.itemDetail__price {
  color: var(--color-yellow);
  font-size: var(--fs-price);
  margin: 2% 0;
}
.itemDetail__breadcrumbs {
  display: flex;
  width: 80%;
  margin: 2% 0;
}

.breadcrumbs__link {
  color: var(--color-yellow);
  font-size: var(--fs-button);
  font-weight: var(--fw-button);
  text-decoration: none;
}

.breadcrumbs__separator {
  color: var(--color-black);
  font-size: var(--fs-button);
  font-weight: var(--fw-button);
  margin: 0 1%;
}

/* Responsive */

@media only screen and (max-width: 820px) {
  .itemDetail {
    flex-direction: column;
    margin: 5rem auto;
  }
  .itemDetail__body {
    width: 100%;
  }
  .itemDetail__description {
    width: 80%;
  }
  .itemDetail__img {
    width: 60%;
  }
}
