.cart {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 15%;
  align-items: center;
}
.cart__title {
  color: var(--color-black);
  font-size: var(--fs-title);
  font-weight: var(--fw-title);
}
.cart__totalPrice {
  color: var(--color-black);
  font-size: var(--fs-header);
  font-weight: var(--fw-title);
  width: 80%;
  text-align: end;
}
.cart__totalPriceColored {
  color: var(--color-yellow);
  font-size: var(--fs-header);
  font-weight: var(--fw-title);
}
