.addToCart {
  color: var(--color-black);
  font-size: var(--fs-button);
  font-weight: var(--fw-button);
  height: 50%;
  width: fit-content;
  background: transparent;
  border: 0.1rem solid var(--color-yellow);
  border-radius: 1.5rem;
  text-decoration: none;
  flex-basis: 100%;
}
.addToCart__colored {
  color: var(--color-yellow);
  font-size: var(--fs-button);
  font-weight: var(--fw-bold);
}
