/* Color's */
:root {
  --color-white: #fafafa;
  --color-black: #202020;
  --color-gray: #636363;
  --color-yellow: #fecf8d;
}
/* Font size */
:root {
  --fs-logo: 3.2rem;
  --fs-navBar-link: 1.6rem;
  --fs-title: 3rem;
  --fs-body: 1.6rem;
  --fs-price: 4rem;
  --fs-button: 2rem;
}
/* Font weight */
:root {
  --fw-logo: 600;
  --fw-navBar-link: 400;
  --fw-title: 600;
  --fw-body: 400;
  --fw-price: 400;
  --fw-bold: 600;
}
