/* Color's */
:root {
  --color-white: #fafafa;
  --color-black: #202020;
  --color-gray: #636363;
  --color-yellow: #fecf8d;
}
/* Font size */
:root {
  --fs-logo: 6.4rem;
  --fs-navBar-link: 3.2rem;
}
/* Font weight */
:root {
  --fw-logo: 600;
  --fw-navBar-link: 400;
}
