.itemCount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.itemCount__increment,
.itemCount__decrement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border: none;
  font-size: 2.5rem;
  background-color: transparent;
}
.itemCount__quantity {
  color: var(--color-yellow);
  padding: 0 0.8rem;
  font-size: 2.5rem;
}
