.itemCount {
  display: flex;
  justify-content: center;
  width: 100%;
}
.itemCount__increment,
.itemCount__decrement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border: none;
  font-size: 5rem;
  background-color: transparent;
}
.itemCount__quantity {
  padding: 0 0.8rem;
  font-size: 5rem;
}
